#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; 
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.neck-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(12, 15px);
  grid-template-rows: 20px 70px 68px 66px 64px 62px 60px 58px 56px 54px 52px 50px 48px 46px 44px;
}

.nut {
  grid-column: 2 / span 10;
  grid-row: 1;
  border-bottom: 3px solid #000;
}
.fret-1 {
  grid-column: 2/ span 10;
  grid-row: 2;
  border-bottom: 3px solid #000;
}
.fret-2 {
  grid-column: 2/ span 10;
  grid-row: 3;
  border-bottom: 3px solid #000;
}
.fret-3 {
  grid-column: 2/ span 10;
  grid-row: 4;
  border-bottom: 3px solid #000;
}
.fret-4 {
  grid-column: 2/ span 10;
  grid-row: 5;
  border-bottom: 3px solid #000;
}
.fret-5 {
  grid-column: 2/ span 10;
  grid-row: 6;
  border-bottom: 3px solid #000;
}
.fret-6 {
  grid-column: 2/ span 10;
  grid-row: 7;
  border-bottom: 3px solid #000;
}
.fret-7 {
  grid-column: 2/ span 10;
  grid-row: 8;
  border-bottom: 3px solid #000;
}
.fret-8 {
  grid-column: 2/ span 10;
  grid-row: 9;
  border-bottom: 3px solid #000;
}
.fret-9 {
  grid-column: 2/ span 10;
  grid-row: 10;
  border-bottom: 3px solid #000;
}
.fret-10 {
  grid-column: 2/ span 10;
  grid-row: 11;
  border-bottom: 3px solid #000;
}
.fret-11 {
  grid-column: 2/ span 10;
  grid-row: 12;
  border-bottom: 3px solid #000;
} 
.fret-12 {
  grid-column: 2/ span 10;
  grid-row: 13;
  border-bottom: 3px solid #000;
}


.string-6 {
  grid-column: 2;
  grid-row: 2 / span 12;
  border-inline-start: 3px solid #000;
}

.string-5 {
  grid-column: 4;
  grid-row: 2 / span 12;
  border-inline-start: 3px solid #000;
}

.string-4 {
  grid-column:6;
  grid-row: 2 / span 12;
  border-inline-start: 3px solid #000;
}

.string-3 {
  grid-column: 8;
  grid-row: 2 / span 12;
  border-inline-start: 3px solid #000;
}

.string-2 {
  grid-column: 10;
  grid-row: 2 / span 12;
  border-inline-start: 3px solid #000;
}

.string-1 {
  grid-column: 12;
  grid-row: 2 / span 12;
  border-inline-start: 3px solid #000;
}

.note-E-6 {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-F-6 {
  grid-column: 1 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Fs-Gb-6 {
  grid-column: 1 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-G-6 {
  grid-column: 1 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Gs-Ab-6 {
  grid-column: 1 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-A-6 {
  grid-column: 1 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-As-Bb-6 {
  grid-column: 1 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-B-6 {
  grid-column: 1 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-C-6 {
  grid-column: 1 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Cs-Db-6 {
  grid-column: 1 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-D-6 {
  grid-column: 1 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Ds-Eb-6 {
  grid-column: 1 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-highE-6 {
  grid-column: 1 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-A-5 {
  grid-column: 3 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-As-Bb-5 {
  grid-column: 3 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-B-5 {
  grid-column: 3 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #b90202, #b9020200);
} 

.note-C-5 {
  grid-column: 3 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Cs-Db-5 {
  grid-column: 3 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-D-5 {
  grid-column: 3 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Ds-Eb-5 {
  grid-column: 3 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-E-5 {
  grid-column: 3 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-F-5 {
  grid-column: 3 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Fs-Gb-5 {
  grid-column: 3 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-G-5 {
  grid-column: 3 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Gs-Ab-5 {
  grid-column: 3 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-highA-5 {
  grid-column: 3 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-D-4 {
  grid-column: 5 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Ds-Eb-4 {
  grid-column: 5 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-E-4 {
  grid-column: 5 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-F-4 {
  grid-column: 5 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Fs-Gb-4 {
  grid-column: 5 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-G-4 {
  grid-column: 5 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Gs-Ab-4 {
  grid-column: 5 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-A-4 {
  grid-column: 5 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-As-Bb-4 {
  grid-column: 5 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-B-4 {
  grid-column: 5 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-C-4 {
  grid-column: 5 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Cs-Db-4 {
  grid-column: 5 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-highD-4 {
  grid-column: 5 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-G-3 {
  grid-column: 7 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Gs-Ab-3 {
  grid-column: 7 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-A-3 {
  grid-column: 7 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-As-Bb-3 {
  grid-column: 7 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-B-3 {
  grid-column: 7 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-C-3 {
  grid-column: 7 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Cs-Db-3 {
  grid-column: 7 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-D-3 {
  grid-column: 7 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Ds-Eb-3 {
  grid-column: 7 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-E-3 {
  grid-column: 7 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-F-3 {
  grid-column: 7 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Fs-Gb-3 {
  grid-column: 7 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-highG-3 {
  grid-column: 7 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-B-2 {
  grid-column: 9 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-C-2 {
  grid-column: 9 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Cs-Db-2 {
  grid-column: 9 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-D-2 {
  grid-column: 9 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Ds-Eb-2 {
  grid-column: 9 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-E-2 {
  grid-column: 9 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-F-2 {
  grid-column: 9 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Fs-Gb-2 {
  grid-column: 9 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-G-2 {
  grid-column: 9 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Gs-Ab-2 {
  grid-column: 9 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-A-2 {
  grid-column: 9 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-As-Bb-2 {
  grid-column: 9 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-highB-2 {
  grid-column: 9 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-E-1 {
  grid-column: 11 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-F-1 {
  grid-column: 11 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Fs-Gb-1 {
  grid-column: 11 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-G-1 {
  grid-column: 11 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Gs-Ab-1 {
  grid-column: 11 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-A-1 {
  grid-column: 11 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-As-Bb-1 {
  grid-column: 11 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-B-1 {
  grid-column: 11 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-C-1 {
  grid-column: 11 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Cs-Db-1 {
  grid-column: 11 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-D-1 {
  grid-column: 11 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-Ds-Eb-1 {
  grid-column: 11 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}

.note-highE-1 {
  grid-column: 11 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #b90202, #b9020200);
}


.target-E-6 {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-F-6 {
  grid-column: 1 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Fs-Gb-6 {
  grid-column: 1 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-G-6 {
  grid-column: 1 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Gs-Ab-6 {
  grid-column: 1 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-A-6 {
  grid-column: 1 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-As-Bb-6 {
  grid-column: 1 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-B-6 {
  grid-column: 1 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-C-6 {
  grid-column: 1 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Cs-Db-6 {
  grid-column: 1 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-D-6 {
  grid-column: 1 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Ds-Eb-6 {
  grid-column: 1 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-highE-6 {
  grid-column: 1 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-A-5 {
  grid-column: 3 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-As-Bb-5 {
  grid-column: 3 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-B-5 {
  grid-column: 3 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
} 

.target-C-5 {
  grid-column: 3 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Cs-Db-5 {
  grid-column: 3 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-D-5 {
  grid-column: 3 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Ds-Eb-5 {
  grid-column: 3 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-E-5 {
  grid-column: 3 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-F-5 {
  grid-column: 3 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Fs-Gb-5 {
  grid-column: 3 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-G-5 {
  grid-column: 3 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Gs-Ab-5 {
  grid-column: 3 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-highA-5 {
  grid-column: 3 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-D-4 {
  grid-column: 5 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Ds-Eb-4 {
  grid-column: 5 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-E-4 {
  grid-column: 5 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-F-4 {
  grid-column: 5 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Fs-Gb-4 {
  grid-column: 5 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-G-4 {
  grid-column: 5 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Gs-Ab-4 {
  grid-column: 5 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-A-4 {
  grid-column: 5 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-As-Bb-4 {
  grid-column: 5 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-B-4 {
  grid-column: 5 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-C-4 {
  grid-column: 5 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Cs-Db-4 {
  grid-column: 5 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-highD-4 {
  grid-column: 5 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-G-3 {
  grid-column: 7 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Gs-Ab-3 {
  grid-column: 7 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-A-3 {
  grid-column: 7 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-As-Bb-3 {
  grid-column: 7 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-B-3 {
  grid-column: 7 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-C-3 {
  grid-column: 7 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Cs-Db-3 {
  grid-column: 7 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-D-3 {
  grid-column: 7 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Ds-Eb-3 {
  grid-column: 7 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-E-3 {
  grid-column: 7 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-F-3 {
  grid-column: 7 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Fs-Gb-3 {
  grid-column: 7 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-highG-3 {
  grid-column: 7 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-B-2 {
  grid-column: 9 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-C-2 {
  grid-column: 9 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Cs-Db-2 {
  grid-column: 9 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-D-2 {
  grid-column: 9 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Ds-Eb-2 {
  grid-column: 9 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-E-2 {
  grid-column: 9 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-F-2 {
  grid-column: 9 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Fs-Gb-2 {
  grid-column: 9 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-G-2 {
  grid-column: 9 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Gs-Ab-2 {
  grid-column: 9 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-A-2 {
  grid-column: 9 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-As-Bb-2 {
  grid-column: 9 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-highB-2 {
  grid-column: 9 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-E-1 {
  grid-column: 11 / span 2;
  grid-row: 1;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-F-1 {
  grid-column: 11 / span 2;
  grid-row: 2;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Fs-Gb-1 {
  grid-column: 11 / span 2;
  grid-row: 3;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-G-1 {
  grid-column: 11 / span 2;
  grid-row: 4;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Gs-Ab-1 {
  grid-column: 11 / span 2;
  grid-row: 5;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-A-1 {
  grid-column: 11 / span 2;
  grid-row: 6;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-As-Bb-1 {
  grid-column: 11 / span 2;
  grid-row: 7;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-B-1 {
  grid-column: 11 / span 2;
  grid-row: 8;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-C-1 {
  grid-column: 11 / span 2;
  grid-row: 9;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Cs-Db-1 {
  grid-column: 11 / span 2;
  grid-row: 10;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-D-1 {
  grid-column: 11 / span 2;
  grid-row: 11;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-Ds-Eb-1 {
  grid-column: 11 / span 2;
  grid-row: 12;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.target-highE-1 {
  grid-column: 11 / span 2;
  grid-row: 13;
  background-image: linear-gradient(to top, #1402b9, #b9020200);
}

.diamond-inlay-1 {
  grid-column: 6 / span 2;
  grid-row: 4;
  align-content: center;
  z-index: -1;
}
.diamond-inlay-2 {
  grid-column: 6 / span 2;
  grid-row: 6;
  align-content: center;
  z-index: -1;
}

.diamond-inlay-3 {
  grid-column: 6 / span 2;
  grid-row: 8;
  align-content: center;
  z-index: -1;
}

.diamond-inlay-4 {
  grid-column: 6 / span 2;
  grid-row: 10;
  align-content: center;
  z-index: -1;
}

.diamond-inlay-5 {
  grid-column: 3 / span 2;
  grid-row: 13;
  align-content: center;
  z-index: -1;
}
.diamond-inlay-6 {
  grid-column: 9 / span 2;
  grid-row: 13;
  align-content: center;
  z-index: -1;
}

.container {
  
  justify-content: center;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.203);
  margin: 20px;
  text-align: center;
  background-color: #233bf446;
}